In [2]:
import os
import pandas as pd
import duckdb

In [3]:

estabelecimentos_paths = os.listdir('./files/estabelecimentos')
columns = ['cnpj_basico','cnpj_ordem','cnpj_dv','id_matriz/filial','nome_fantasia','situacao_cadastral','data_situacao_cadastral',
           'motivo_situacao_cadastral','cidade_exterior','pais','data_inicio_atividade','cnae_princ_cod','cnaes_secundarios','tipo_logradouro',
           'logradouro','numero','complemento','bairro','cep','uf','municipio','ddd1','telefone1','ddd2','telefone2','ddd_fax','fax','e-mail','situacao_especial',
            'dt_situacao_especial']

In [ ]:
cnaes_princ = duckdb.sql(f"SELECT * FROM './files/estabelecimentos/{estabelecimentos_paths[0]}'")

In [12]:
df_estabelecimentos

,cnpj_basico,cnpj_ordem,cnpj_dv,id_matriz/filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,cidade_exterior,pais,...,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,e-mail,situacao_especial,dt_situacao_especial
0,7396865,1,68,1,NaN,8,20170210,1,NaN,NaN,...,8297,47.0,33851125,47.0,33851125.0,47.0,33851125,NaN,NaN,NaN
1,64904295,18,51,2,NaN,8,20161110,1,NaN,NaN,...,2785,11.0,36491000,31.0,33880436.0,82.0,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
2,76016369,3,16,2,NaN,4,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,1,82,1,NaN,4,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7396923,1,53,1,NaN,8,20140115,1,NaN,NaN,...,7107,11.0,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,39066921,1,92,1,NaN,8,20210228,1,NaN,NaN,...,7225,0.0,0.0,NaN,NaN,0.0,0.0,carlosalbertosantana021@gmail.com,NaN,NaN
4753431,39067134,1,65,1,NaN,8,20210228,1,NaN,NaN,...,3743,0.0,0.0,NaN,NaN,0.0,0.0,edna.ami@hotmail.com,NaN,NaN
4753432,37059778,1,86,1,NaN,4,20221130,63,NaN,NaN,...,6477,11.0,23585209.0,NaN,NaN,NaN,NaN,MIRIAN_SOUZA_SILVA@HOTMAIL.COM,NaN,NaN
4753433,37060179,1,82,1,CLAUDIA DE CAMPOS REPRESENTACOES,8,20230614,1,NaN,NaN,...,6619,11.0,44764111.0,NaN,NaN,NaN,NaN,ERNESTOR.JUNIOR@ERJACCOUNT.COM.BR,NaN,NaN
4753434,28182127,1,98,1,CAFFE ITALIA RISTORANTE,4,20210330,63,NaN,NaN,...,4133,31.0,35321918.0,NaN,NaN,NaN,NaN,ETICON@TERRA.COM.BR,NaN,NaN